# obj
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# localtest
*.localtest

# ide
.idea
.vscode/
!.vscode/extensions.json
Asp.sln.DotSettings.user

# settings
appsettings.json
appsettings.*.json
